*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color-1: #000000;
    --cursor-color: rgb(85, 85, 85);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin-block: 1rem;
}

h1 {
    text-transform: uppercase;
    font-size: clamp(1.3rem, 5vw, 3rem);
    font-weight: 400;
    margin: 2rem 0.5rem;
    border-right: 1px solid var(--cursor-color);
    animation: blinking 1s steps(1, end) infinite, typing 3s steps(30, end);
    overflow: hidden;
    white-space: nowrap;
}

section.creative-list {
    a {
        display: grid;
        grid-template-columns: 1fr max-content;
        text-decoration: none;
        color: var(--primary-color-1);
        margin-inline: 0.5rem;
        position: relative;
        margin-block: 2rem;

        &:nth-of-type(1) {
            z-index: 3;
        }

        &:nth-of-type(2) {
            z-index: 2;
        }

        &:nth-of-type(3) {
            z-index: 1;
        }


        @media (width > 768px) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            border-bottom: 1px solid var(--primary-color-1);
            margin-block: 0;
        }

        @media (width > 768px) and (any-pointer: fine) {

            transition: all 0.5s;

            &:hover {
                scale: 0.95;
                transition: all 0.5s;
                background-color: #fbfbfb;
                padding-inline: 0.5rem;

                img:first-of-type {
                    display: block;
                    position: absolute;
                    overflow: visible;
                    width: 211px;
                    height: 367px;
                    top: 3rem;
                    left: 1rem;
                    border-radius: 16px;
                }

                img:last-of-type {
                    scale: 1.1;
                    transition: all 0.5s;
                }
            }
        }

        img:first-of-type {
            width: 100%;
            height: 225px;
            object-fit: cover;
            border-radius: 16px;

            grid-column: span 2;

            @media (width > 768px) {
                display: none;
            }

        }


        h2 {
            font-size: 1.2rem;
            grid-column: span 2;
            margin-block: 0.75rem;

            @media (width > 768px) {
                font-size: 1.3rem;
                font-weight: 600;

                grid-column: span 2;
            }
        }

        p {
            font-size: 1rem;
            align-self: center;
        }

        img:last-of-type {
            width: 24px;
            aspect-ratio: 1/1;

            @media (width > 768px) {
                align-self: center;
                justify-self: end;
            }
        }
    }
}

.typing-effect {
    display: inline-block;
}

@keyframes blinking {
    0% {
        border-color: transparent;
    }

    50% {
        border-color: var(--cursor-color);
    }

    100% {
        border-color: transparent;
    }
}

@keyframes typing {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}