body {
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 0, 0, 0.626);

    @media ( width > 48em )  {
        background-color: rgba(255, 255, 0, 0.362);
    }

}

.container1 {
    background-color: black;
    width: 5em;
    height: 5em;

    @media ( any-pointer: fine) {
            background-color: rgba(0, 0, 255, 0.48);
    }
}