@keyframes appear {
    0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes disappear {
    0% {opacity: 1;}
  100% {opacity: 0;}
}

* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-size: 1rem;
}

main {
    display: grid;
    grid-template: auto / 1fr;
    margin: 1rem;
    interpolate-size: allow-keywords;
    overflow-x: hidden;

    @media (width > 768px) and (any-pointer: fine) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100%;
        transition: 2s;
        visibility: visible;
    }

}

main:has(.display) {
    grid-template-rows: 3em;
}

article {
    transition: 2s;
}

@media (width > 768px) and (any-pointer: fine){
    h3 {
        position: sticky;
        top: 1rem;
    }
    
    .display {
        transform: translateX(120%);
        transition: 2s;
        visibility: hidden;
    }
}

